<p><button (click)="undo()">Undo</button> <button (click)="redo()">Redo</button></p>
<p><button (click)="undo()">Select Mechanism</button><button (click)="undo()">Select Side</button></p>
<p>
  <button (click)="undo()">Add PFold</button> <button (click)="undo()">Add VFold</button>
  <button (click)="addMecActive()">Add Bookfold</button>
</p>

<p>Picked Object: {{ picked }}</p>

<booklet-view [mecActive]="mecActive"></booklet-view>

<p><button (click)="addMecParallel()">Add Parallel Fold</button></p>
<fold-parallel-view [mecParallel]="mecParallel"></fold-parallel-view>
