<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 menu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-1">Home</div>
          <div class="col-1">Game</div>
          <div class="col-1">Help</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bjscanvas">
    <div class="col-sm-3 sidebar"><control-view></control-view></div>
    <div class="col-sm-9"><scene-view></scene-view></div>
  </div>
</div>
<router-outlet></router-outlet>
