.menu {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #363636;
  color: #e2e2e2;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}

/* Set gray background color and 100% height */
.sidebar {
  padding-top: 20px;
  background-color: #c5c5c5;
  height: 100%;
}

.bjscanvas {
  height: 800px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidebar {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}
